selenium
beautifulsoup4
google-api-python-client
google-auth-oauthlib
praw
prawcore
vaderSentiment
scikit-learn
pytest
python-dotenv
webdriver-manager
pandas
transformers
torch
tiktoken
blobfile
Flask
numpy
sqlalchemy
xgboost
lightgbm
joblib
requests